.button {
  display: inline-block;

  font-family: inherit;
  @include font(700, 16px, 30px);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--main-white-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button_primary {
  padding: 10px 32px;

  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: box-shadow var(--timing-function),
    background-color var(--timing-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.button_secondary {
  padding: 6px 22px;

  @include font(500, 16px, 26px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);

  transition: box-shadow var(--timing-function),
    background-color var(--timing-function), color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--main-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &.active {
    color: var(--main-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  padding: 0;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  cursor: pointer;

  transition: fill var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal__button {
  display: flex;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 55px;
  padding-right: 55px;
}
