// .callback-form {
//   padding: 40px;
// }

// .callback-form__title {
//   display: inline-block;
//   margin-bottom: 12px;

//   @include font(700, 20px, 30px);
//   text-align: center;

//   color: var(--secondary-text-color);
// }

// .callback-form__item {
//   position: relative;

//   margin-bottom: 10px;

//   display: flex;
//   flex-direction: column;
// }

// .callback-form__label {
//   width: 100%;
//   margin-bottom: 4px;

//   @include font(400, 12px, 14px);
//   letter-spacing: 0.01em;
//   color: var(--primary-text-color);
// }

// .callback-form__icon {
//   position: absolute;
//   bottom: 11px;
//   left: 12px;

//   fill: var(--secondary-text-color);
//   transition: fill var(--timing-function);

//   .callback-form__input:focus + & {
//     fill: #2196f3;
//   }
// }

// .callback-form__input {
//   width: 100%;
//   padding: 12px 16px 12px 42px;

//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;

//   transition: border-color var(--timing-function);

//   &:focus {
//     border-color: var(--accent-color);
//     outline: transparent;
//   }
// }

// .callback-form__textarea {
//   resize: none;
//   padding-left: 16px;

//   &::placeholder {
//     @include font(null, 14px, 16px);
//     letter-spacing: 0.01em;

//     color: rgba(117, 117, 117, 0.5);
//   }
// }

// .policy-checkbox {
//   flex-direction: row;
//   align-items: center;
//   margin-top: 20px;
// }
// //
// .callback-form__check-icon {
//   position: absolute;
//   top: 50%;
//   left: 13px;
//   transform: translateY(-50%);

//   width: 16px;
//   height: 15px;
//   cursor: pointer;

//   opacity: 0;
//   transition: opacity var(--timing-function);

//   .policy-checkbox__input:checked + .policy-checkbox__label > & {
//     opacity: 1;
//   }
// }

// .policy-checkbox__label {
//   display: inline-flex;
//   align-items: center;
//   margin: 0;
//   padding-left: 13px;

//   @include font(null, 14px, 24px);
//   color: var(--primary-text-color);
// }

// .policy-checkbox__label::before {
//   content: "";
//   display: inline-block;
//   width: 16px;
//   height: 15px;
//   margin-right: 8.38px;

//   border: 1.8px solid var(--secondary-text-color);
//   border-radius: 2px;

//   transition: border-color var(--timing-function);

//   .policy-checkbox__input:checked + & {
//     border-color: var(--accent-color);
//   }

//   .policy-checkbox__input:focus-visible ~ & {
//     outline: 2px solid rgba(5, 34, 195, 0.7);
//   }
// }

// .policy-checkbox__link {
//   position: relative;
//   padding-left: 3.5px;

//   border-bottom: 1px solid var(--accent-color);
//   color: var(--accent-color);
//   @include font(null, 14px, 24px);
//   text-decoration: none;

//   transition: color var(--timing-function);

//   &:hover,
//   &:focus {
//     color: var(--secondary-text-color);
//   }
// }

// .policy-checkbox__link:before {
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: -2px;

//   display: block;
//   width: 100%;
//   height: 4px;

//   background-color: var(--main-white-color);
//   transform-origin: center;
//   transform: scale(1);
//   transition: transform var(--timing-function);
// }

// .policy-checkbox__link:hover:before,
// .policy-checkbox__link:focus:before {
//   transform: scale(0);
// }
