body {
  font-family: "Roboto", roboto, -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, noto, arial,
    sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--main-white-color);
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
