.section {
  padding: 60px 0;

  @include for-desktop-up {
    padding: 94px 0;
  }
}

.section-title {
  margin-bottom: 30px;

  @include font(700, 28px, 33px);
  text-align: center;
  color: var(--secondary-text-color);

  @include for-desktop-up {
    margin-bottom: 50px;
    @include font(700, 36px, 42px);
  }
}
