:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #257f4c;
  --main-white-color: #ffffff;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --address-cont-color: rgba(255, 255, 255, 0.6);
  --primary-logo-color: #000000;
  --header-border: #ececec;
  --socials-color: #afb1b8;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
