.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);

  @include for-tablet-only {
    width: calc((100% - 60px) / 3);
  }

  @include for-desktop-up {
    width: calc((100% - 150px) / 6);
  }
  height: 92px;
}

.clients__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);

    & .clients__icon {
      border-color: var(--accent-color);
      fill: var(--accent-color);
    }
  }
}

.clients__icon {
  width: 106px;
  height: 60px;

  fill: var(--socials-color);

  transition: fill var(--timing-function);
}
