// .features {
//   padding-bottom: 47px;
// }

// .features__list > * {
//   width: calc((100% - 90px) / 4);
// }

// .features__thumb {
//   width: 100%;
//   height: 120px;
//   padding-left: 100px;
//   padding-right: 100px;
//   padding-top: 25px;
//   padding-bottom: 25px;
//   margin-bottom: 30px;

//   background: #f5f4fa;
//   border-radius: 4px;
// }

// .item-features__title {
//   margin-bottom: 10px;

//   @include font(null, 14px, 16px);
//   text-transform: uppercase;
//   color: var(--secondary-text-color);
// }

// .item-features__text {
//   line-height: 1.71;
// }
