.header {
  @include for-phone-only {
    padding: 16px 0;
  }

  border-bottom: 1px solid var(--header-border);
}

.header__container {
  position: relative;

  @include for-tablet-up {
    display: flex;
    align-items: center;
    // justify-content: space-between;
  }
}

.nav {
  display: inline-flex;
  align-items: center;
}

.nav__list {
  display: none;

  @include for-tablet-up {
    display: flex;
    margin-left: 88px;
    margin-right: 84px;
  }

  @include for-desktop-up {
    margin-left: 93px;
  }
}
//
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  @include font(500, 14px, 16px);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__link_current {
  position: relative;
  color: var(--accent-color);

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
//

.contacts {
  display: none;

  @include for-tablet-only {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  @include for-desktop-up {
    display: flex;
    margin-left: auto;
  }
}

.contacts__item:not(:last-child) {
  @include for-desktop-up {
    margin-right: 30px;
  }
}

.contacts__link {
  display: inline-flex;
  align-items: center;

  text-decoration: none;
  @include font(500, 12px, 14px);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @include for-desktop-up {
    @include font(500, 14px, 16px);
  }
}

.contacts__icon {
  margin-right: 10px;

  fill: #757575;

  transition: fill var(--timing-function);

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: #2196f3;
  }
}
