// .hero {
//   max-width: 1920px;
//   height: 600px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-top: 200px;
//   padding-bottom: 200px;

//   text-align: center;
//   background-color: var(--primary-background-color);
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/hero.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }

// .hero__title {
//   width: 696px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 30px;

//   @include font(900, 44px, 60px);
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--main-white-color);
// }
