// .team {
//   background-color: var(--secondary-background-color);
// }

// .team__item {
//   padding-bottom: 30px;

//   text-align: center;
//   background-color: var(--main-white-color);
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }

// .item-team__img {
//   display: block;
// }

// .item-team__title {
//   padding-top: 30px;
//   margin-bottom: 10px;

//   @include font(500, 16px, 19px);
//   color: var(--secondary-text-color);
// }

// .item-team__text {
//   @include font(null, 16px, 19px);
// }
